@font-face {
    font-family: 'primary-font';
    src: url('assets/fonts/Minercraftory.ttf') format('truetype');
}
@font-face {
    font-family: 'secondary-font';
    src: url('assets/fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
}
body {
    margin: 0 auto;
    max-width: 80%;
    padding: 20px;
    background-color: #F8F0EE;
}

.hero-page{
    margin-top: 2rem;
    overflow-y: auto;
    justify-content: center;
}

.content{
    margin-top: 10%;
    margin-bottom: 10rem;
}

.navbar{
    text-align: right;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 6rem;
}

.navbar li a {
    color: #5A0E0E;
    font-family: 'primary-font';
    text-decoration: none;
    transition: transform 0.3s ease;
}

.navbar li a:hover {
    transform: translateY(-3px);
}

.herotext{
    font-family: 'secondary-font';
    font-size: 2rem;
    font-weight:400 ;
}
.intro {
    font-family: 'primary-font';
    font-size: 4rem;
    color: #5A0E0E;
    letter-spacing: 0.4rem;
}

.heroimage img {
    z-index: 3;
    max-width: 100%;
    width: 27rem;
    height: auto;
    position: absolute;
    top: 55%;
    right: 0%;
    transform: translate(-50%, -50%);
}
.hearts img{
    z-index: 3;
    max-width: 100%;
    width: 13rem;
    height: auto;
    position: absolute;
    top: 26%;
    right: 11%;
    transform: translate(-50%, -50%);
}

.head{
    font-family: 'primary-font';
    color: #5A0E0E;
    font-size: 3rem;   
    position: absolute;
    letter-spacing: 0.3rem;
}
.about-text{
    padding-top: 10rem;
    padding-bottom: 10rem;
    font-family: 'secondary-font';
    font-size: 1.5rem;
    position: relative;
    width: 35rem;
    line-height: 2.2rem;
}
.skills-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-img img {
    max-width: 100%;
    width: 65rem;
    height: auto;
    position: relative;
    margin-top: 9rem;
    z-index: 6;
}
.skills-container {
    border-style: solid;
    z-index: 4;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: relative;
    margin-top: -23rem;
    left:24%;
    transform: translate(-50%, -50%);
    width: 25rem;
}

.skills-container li {
    font-family: 'secondary-font';
    font-size: 1.6rem;
    list-style-type: none;
    margin-bottom: 1.5rem;
}

#container2{
    border-style: solid;
    z-index: 4;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 0;
    transform: translate(-50%, -50%);
    width: 25rem;
}

.projects-page {
    text-align: center; /* Align content in the center */
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mushroom-arrow {
    margin-right: 2rem;
    display: flex;
    align-items: left;
    margin-left: 4rem;
    padding-top: 5rem;
}
.mushroom-arrow img {
    max-width: 100%;
    width: 8rem;
    height: auto;
    position: relative;
    margin-top: 9rem;
    z-index: 6;
}

.project-image {
    margin-right: 3rem;
    padding-top: 15rem;
}

.text {
    margin-right: 4rem;
    margin-top: 14rem;
    text-align: left;
    max-width: 30rem; 
    font-family: 'secondary-font';
    color: #5A0E0E;
}
.short-text{
    font-weight: 350;
    color: black;
    font-size: 1.5rem;
}
#text2 .text{
    text-align: right;
}
.footer {
    background-color: #EDA5B0;
    height: 10rem;
    color: rgb(0, 0, 0);
    padding: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'secondary-font';
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer h1 {
    margin-right: 10rem;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Add flex display */
}

.footer li {
    display: inline;
    margin-right: 2rem;
}
.link, .mail, .x, .linkedin, .github, .discord{
    max-width: 3rem;
}
.footer li a{
    width:100%;
    height: auto;
}

